@import "bourbon"
@import "vars.sass"
@import "../app/libs/owl.carousel/owl-carousel/owl.carousel.css"
*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

/*GENERAL STYLE FOR ALL HERE */
body
	border-top: 5px solid $page-head__border
	font-size: 16px
	font-family: 'Oswald Regular'
	color: $text-color

/* HOME PAGE BEGIN           */
/* HEADER HOME PAGE BEGIN    */
.page-head
	padding: 25px 0 30px 0
	.search
		.search__input
			outline: none
			padding: 6.5px 10px
			border: 1px solid #e7e7e7
			font-size: 12px
			font-family: Tahoma
			&::-webkit-input-placeholder
				color: $text-color
		.search__button
			padding: 6px 13px
			border: none
			background-color: $accent-color
			color: #fff
			font-family: 'Oswald Regular'
			font-size: 14px
	.nav-list
		margin-top: 30px
		padding: 0
		font-size: 14px
		margin-bottom: 0
		a
			color: $text-color
		li
			padding: 10px 0
			width: 120px
			text-transform: uppercase
			display: inline-block
			text-align: center
			list-style-type: none
			border-top: 1px solid #e7e7e7
			border-bottom: 1px solid #e7e7e7
			&:first-child
				border-left: 1px solid #e7e7e7
			&:last-child
				border-right: 1px solid #e7e7e7
		.nav-list__li--active
			background-color: $accent-color
			border: 1px solid $accent-color
			a
				color: #fff

/* HEADER HOME PAGE END      */
/* SECTION 1 HOME PAGE BEGIN */
.page-section__1
	font-family: 'Oswald Light'
	.slider
		background-color: #e2e2e2
		padding: 50px 40px
		height: 280px
		line-height: 1.2
		.page-section__header
			margin: 0
			color: #5a5a5a
			font-size: 42px
			font-weight: normal
		.page-section__description
			font-size: 20px
			margin: 0
	.slider-menu
		padding: 10px
		background-color: #f3f3f3
		border-bottom: 1px solid #e7e7e7
		font-size: 18px
		text-transform: uppercase
		margin-bottom: 30px
		.custom-counter
			margin: 0
			padding: 0
			list-style-type: none
			li
				counter-increment: step-counter
				display: inline-block
				&:before
					content: counter(step-counter)
					display: block
					width: 25px
					height: 25px
					background-color: #8f8f8f
					color: #fff
					text-align: center
					float: left
					margin-right: 10px

#custom-counter__li--active
	color: $accent-color
	a
		color: $accent-color
	&:before
		background-color: $accent-color

/* SECTION 1 HOME PAGE END   */
/* SECTION 2 HOME PAGE BEGIN */
.page-section__2
	.item
		font-family: 'Tahoma'
		font-size: 12px
		line-height: 1.4
		.page-link__black
			display: block
			margin-top: 15px
		.item-descr__italic
			font-style: italic
		.bold
			font-style: normal
			font-weight: 600
			margin-top: 10px
		.sec_img
			margin-right: 47px
			margin-bottom: 30px
//SECTION 3
.page-section__3
	font-family: 'Tahoma'
	.service-and-support-block
		.service-and-support-block__descr
			font-size: 12px
			margin-top: 0
			margin-bottom: 25px
	.team-item
		font-family: 'Tahoma'
		font-size: 12px
		margin: 10px 0
		.team-item__head-descr
			font-size: 11px
			margin: 0
		.team-item__descr
			line-height: 1.2
			margin: 0
		.team-item__img
			margin-top: 4px
			margin-right: 10px
			margin-bottom: 15px
	.our-partners-block
		margin-bottom: 50px	

.top_header
		margin-bottom: 20px
		.hatch
			margin-left: 10px
			margin-bottom: 8px
		.block_header
			font-size: 14px
			font-family: 'Oswald Regualr'
			text-transform: uppercase
			margin-bottom: 0px
			margin-top: 0
			display: block
			float: left
			&:before
				margin-top: 2px
				margin-right: 5px
				content: ' '
				float: left
				display: block
				width: 15px
				height: 15px
				background-color: $accent-color

.page-link__black
	color: #000
	text-decoration: underline
	font-size: 12px

/* SECTION 2 HOME PAGE END   */
/* FOOTER HOME PAGE BEGIN    */
.page-footer
	font-family: 'Tahoma'
	color: #dbdbdb
	background-color: $page-head__border
	padding: 15px 0
	hr
		margin: 5px 0 10px 0
		border-top: 1px solid #919191
	.footer-sec__header
		color: #fff
		font-size: 14px
		text-transform: uppercase
		font-weight: 800
		margin: 0
		white-space: nowrap
	.tw-feed
		.tw-feed__descr
			font-size: 11px
			margin-top: 5px
			margin-bottom: 0
		.tw-feed__link
			color: #919191
			text-decoration: underline
			font-size: 11px
	.site-map
		.site-map__links
			margin: 0
			padding: 0
			font-size: 12px
			li
				list-style-type: none
				a
					color: #fff
	.social
		.sc__links
			a
				display: block
				float: left
				margin-left: 9px
				margin-bottom: 10px
		.fb, .tw, .gl, .inst, .flickr, .rss, .vimeo, .yt
			background: url('../img/sprites.png') no-repeat
		.fb
			background-position: -1px -1px 
			width: 30px
			height: 31px
		.tw
			background-position: -51px -2px 
			width: 30px
			height: 31px
		.gl
			background-position: -68px -67px 
			width: 30px
			height: 31px
		.inst
			background-position: -15px -67px 
			width: 16px
			height: 16px
		.flickr
			background-position: -31px -83px 
			width: 16px
			height: 16px
		.rss
			background-position: 0 -51px 
			width: 16px
			height: 16px
		.vimeo
			background-position: 0 -83px 
			width: 16px
			height: 16px
		.yt
			background-position: -32px -51px 
			width: 16px
			height: 16px
	.company-info
		.company-info__logo
			margin-top: 10px
		.company-info__descr
			font-size: 10px
			white-space: nowrap
			margin-top: 15px

/* FOOTER HOME PAGE END      */
/* HOME PAGE END             */

/* ABOUT PAGE BEGIN          */
/*ABOUT PAGE SECTION 1 BEGIN */
.about-section__1
	.section-header
		.section-header__head
			margin: 0
			position: relative
			bottom: 15px
			font-family: 'Oswald Regular'
			font-size: 40px
			text-transform: uppercase
		.small_pattern
			margin-right: 13px
		.large_pattern
			margin-left: 30px
	.about-nav
		ul
			margin: 0
			padding: 0
			li
				list-style-type: none
				font-family: 'Oswald Light'
				font-weight: 800
				font-size: 14px
				text-transform: uppercase
				display: block
				padding: 10px
				background-color: #f3f3f3
				border: 1px solid #e7e7e7
				a
					color: $text-color
				&:before
					margin-top: 7px
					margin-right: 10px
					content: ' '
					float: left
					display: block
					width: 8px
					height: 8px
					background-color: #8f8f8f
	.our-offices
		margin-top: 30px
		.header__heading
			margin: 0
			padding: 12px
			background-color: $accent-color
			color: #fff
			font-family: 'Oswald Regular'
			font-family: 14px
			text-transform: uppercase
		.img-block
			background-color: #f3f3f3
			border: 1px solid #e7e7e7
			padding: 10px 12px
			img
				max-width: 100%

/* ABOUT PAGE SECTION 1 END  */
/* ABOUT PAGE CONTENT BEGIN  */
.about-content
	.about-content__header
		background-color: $accent-color
		padding: 20px 25px
		font-family: 'Oswald Light'
		color: #fff
		margin-bottom: 20px
		h2
			margin: 0
			font-size: 33px
			font-weight: 400
			text-transform: uppercase
			font-style: italic
			line-height: 1.1
		p
			margin: 0
			font-size: 20px
			color: #1d8ea6
	.about-content__text
		font-family: 'Tahoma'
		font-size: 12px
		margin: 0
	.about-content__text--pusher
		margin: 25px 0

/* ABOUT PAGE CONTENT END    */
/* ABOUT PAGE CONETNT PIC BEGIN  */
.about-content-pic
	margin-top: 20px
	margin-bottom: 30px
	.row
		img
			width: 100%

/* ABOUT PAGE CONTENT PIC END*/
/* ABOUT PAGE OUR TEAM BEGIN */
.our-team	
	.our-team__heading
		margin: 0
		padding: 10px
		background-color: $accent-color
		font-family: 'Oswald Light'
		font-size: 30px
		color: #fff
		text-transform: uppercase

/* ABOUT PAGE OUR TEAM END   */
/* ABOUT PAGE MATES BEGIN    */
.about-content__mates
	margin-top: 20px
	margin-bottom: 30px
	padding: 0 15px
	.team-mate
		float: left
		margin-right: 45px
		margin-bottom: 20px
		font-family: 'Oswald Light'
		&:nth-child(5)
			margin: 0
		&:nth-child(10)
			margin: 0
		.team-mate__name
			font-size: 16px
			margin: 5px 0 0 0
		.team-mate__descr
			color: $accent-color
			font-size: 14px
			font-weight: 800
			margin: 0
			letter-spacing: .9px
/* ABOUT PAGE MATES END      */
/* ABOUT PAGE END 				   */

/* PROJECT PAGE BEGIN        */

/* PROJECT PAGE END          */
//ALWAYS END
@import "media"
